/PortalGestionDreamGifts/nbproject/private/
/PortalGestionDreamGifts/build
.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
PortalGestionDreamGifts/src/vista/Login.form
PortalGestionDreamGifts/src/vista/Login.java
